#menu {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 80px !important;
}

#video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  user-select: none;
  z-index: -2;
}

.gradient {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#00000081, #000000b7);
  z-index: -1;
}

#title {
  width: 671px;
  margin: auto;
}

#title button {
  all: unset;
  text-align: center;
  width: 202px;
  border: solid white 1.5px;
  margin: auto;
  padding: 12.5px;
  border-radius: 13px;
  color: white;
}
#title button:hover {
  cursor: pointer;
}

#buttons {
  width: 50vh;
  height: 20vh;
  align-items: end;
  justify-content: space-evenly !important;
  margin: auto;
}

#buttons a {
  all: unset;
  color: white;
  border: solid white 1.5px;
  border-radius: 9px;
  padding: 12.5px;
}

#btn-right {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

#heart {
  width: 5%;
  height: 5%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

#test {
  margin: auto;
  width: 671px;
}

#follow {
  display: flex;
  margin: auto;
  width: 500px;
  padding: 10px;
  justify-content: space-around;
}

.content {
  height: 100%;
}

#contact {
  all: unset;
  color: white;
}

#follow a {
  all: unset;
  color: white;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  user-select: none;
  z-index: -2;
}
#content {
  display: flex;
  height: 100vh;
  align-items: end;
  padding-bottom: 40px;
}

#left {
  padding-left: 40px;
  border-left: 3px solid #00c4b3;
}
